@model VIS.Models.LoginModel



@functions{

    ///
    ///<summary>
    /// Get Antiforgery Token
    /// </summary>
    ///
    ///<returns></returns>
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }

    public string GetMsg(string lang, string key)
    {
        return VAdvantage.Utility.Msg.GetMsg(lang, key);
    }

}

@section heads{

    <script type="text/javascript">
        window.history.forward();
    </script>


    @if (@User.Identity.IsAuthenticated && !string.IsNullOrEmpty(ViewBag.IsAuthorize))
    {

        var lst = VAdvantage.ModuleBundles.GetStyleBundles(); //Get All Style Bundle
        foreach (var b in lst)
        {
            if (!BundleTable.Bundles.Contains(b))
            {
                BundleTable.Bundles.Add(b); //Add in Mvc Bundle Table
            }
        }

        var lstRTLStyle = VAdvantage.ModuleBundles.GetRTLStyleBundles(); //Get All Script Bundle

        foreach (var b in lstRTLStyle)
        {
            if (!BundleTable.Bundles.Contains(b))
            {
                BundleTable.Bundles.Add(b); //Add in Mvc Bundlw Table
            }
        }

        var lstScript = VAdvantage.ModuleBundles.GetScriptBundles(); //Get All Script Bundle

        var isNewPath = false;

        foreach (var b in lstScript)
        {
            if (!BundleTable.Bundles.Contains(b))
            {
                BundleTable.Bundles.Add(b); //Add in Mvc Bundlw Table
            }
        }

        List<string> paths = new List<string>();

        foreach (Bundle b in BundleTable.Bundles)
        {
            if ((b.Path.EndsWith("bundles/jquery") || b.Path.EndsWith("bundles/boot")))
            {
                continue;
            }

            if (b is StyleBundle)
            {


                if (b.Path.Contains("ViennaBase") && b.Path.Contains("_v") && !b.Path.Contains("_v3"))
                {
                    continue;
                }
                else
                {

                    if (b.Path.EndsWith("RTL"))
                    {
                        if (ViewBag.direction == "rtl")
                        {
                            @Styles.Render(b.Path); //render style
                        }
                    }
                    else
                    {
                        @Styles.Render(b.Path); //render style

                    }
                }
            }
            if (b is ScriptBundle)
            {
                paths.Add(b.Path); //add script to variable list , render it later
            }
        }

        ViewBag.ScriptsPath = paths;
    }

    else //login
    {
        <link type="text/css" href="~/Areas/ViennaBase/Content/fontlib/font-awesome.min.css" rel="stylesheet" />
        <link type="text/css" href="~/Areas/ViennaBase/Content/fontlib/vis-fonts.css" rel="stylesheet" />

        if (ViewBag.LibSuffix != "_v3")
        {
            @Styles.Render("~/Areas/ViennaBase/bundles/boot" + ViewBag.LibSuffix);
            @Scripts.Render("~/Areas/ViennaBase/bundles/jquery" + ViewBag.LibSuffix);
        }
        else if (ViewBag.LibSuffix == "_v3")
        {
            @Styles.Render("~/Areas/ViennaBase/Content/boot" + ViewBag.LibSuffix);
            @Scripts.Render("~/Areas/ViennaBase/Scripts/jquery" + ViewBag.LibSuffix);
        }
        else
        {
            @Styles.Render("~/bundles/boot");
            @Scripts.Render("~/bundles/jquery");
        }

        <link type="text/css" href="~/Areas/VIS/Content/Login.css" rel="stylesheet" />
    }
}

@if (@User.Identity.IsAuthenticated && !string.IsNullOrEmpty(ViewBag.IsAuthorize))
{
    <input id="vis_antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />

    <div class="vis-app-body">

        <!-- App Header START -->
        <header class="vis-app-hdr">
            @Html.Partial("_UserSettings", Model)
            @Html.Partial("_Template")
        </header>

        <!-- App Main Menu START -->

        @if (ViewBag.IsMobile == true)
        {
            <div id="vis_mainMenu" class="VIS-nm-dashboard-flyout d-flex flex-column vis-navMainWrapMobile" style="display: none !important; width:160px;">
                <div class="vis-nm-searchOuter">
                    <div class="VIS-nm-dasboard-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" class="form-control" id="vis_menuSearch" name="vis_menuSearch" placeholder="@VAdvantage.Utility.Msg.GetMsg((string)ViewBag.culture, "Search")" list="vis_leafNodes">
                        <datalist id="vis_leafNodes">
                            @foreach (var item in ViewBag.Menu.GetLeafNodes())
                            {
                                <option data-action='@item.ActionIndicator' data-actionid="@item.ActionID" title='@item.ID' value='@item.Name'></option>
                            }
                        </datalist>
                    </div>
                </div>
                <div id="vis_divTree" class="VIS-nm-menu-links mt-3 d-flex vis-navContentWrap">
                    @Html.Raw(@ViewBag.TreeHtml)
                </div>
            </div>

            // Old Mobile Menu


            @*<div id="vis_mainMenu" class="vis-mainMenu" style="display: none">
                    <div class="d-flex align-items-center vis-navHeadWrap" style="display: none">
                        <h5 class="m-0 vis-menu-headerName">@ViewBag.Menu.GetRootNode().Text</h5>
                        <div class="d-flex align-items-center vis-navHeadRight">
                            <div class="vis-navSearchWrap">
                                <div class="input-group">
                                    <datalist id="vis_leafNodes">
                                        @foreach (var item in ViewBag.Menu.GetLeafNodes())
                                        {
                                            <option data-action='@item.ActionIndicator' data-actionid="@item.ActionID" title='@item.ID' value='@item.Name'></option>
                                        }
                                    </datalist>
                                </div>
                            </div>
                            <div class="vis-navFilterIco">
                                <a href="javascript:void(0)" id="vis_filterMenu" title="@VAdvantage.Utility.Msg.GetMsg((string)ViewBag.culture, "Filter")" class="fa fa-filter"></a>
                                <span style="display:none" class="vis vis-cross vis-removeFilter"></span>
                            </div>
                        </div>

                    </div>
                    <div class="vis-mbilemenu-search">
                        <div class="vis-navSearchWrap" style="    background: no-repeat;">
                            <div class="input-group">
                                <input type="text" class="form-control ui-autocomplete-input" id="vis_menuSearch" name="vis_menuSearch" placeholder="Search" list="vis_leafNodes" autocomplete="off">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="vis vis-search vis-mbilemenu-search-icon"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vis-sidebarMenuWrapper">
                        <div id="vis_divTree" class="vis-css-treeview vis-css-menu">
                            @Html.Raw(@ViewBag.TreeHtml)
                        </div>
                    </div>
                </div>*@
            // Old Mobile Menu End
        }
        else
        {
            if (ViewBag.Menu != null)
            {
                <div id="vis_mainMenu" class="VIS-nm-dashboard-flyout d-flex flex-column vis-navMainWrap" style="display: none !important">
                    <div class="vis-nm-searchOuter">
                        <div class="VIS-nm-dasboard-search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            @*<input type="text" placeholder="Search">*@
                            <input type="text" class="form-control" id="vis_menuSearch" name="vis_menuSearch" placeholder="@VAdvantage.Utility.Msg.GetMsg((string)ViewBag.culture, "Search")" list="vis_leafNodes">
                            <datalist id="vis_leafNodes">
                                @foreach (var item in ViewBag.Menu.GetLeafNodes())
                                {
                                    <option data-action='@item.ActionIndicator' data-actionid="@item.ActionID" title='@item.ID' value='@item.Name'></option>
                                }
                            </datalist>
                        </div>
                    </div>
                    <div id="vis_divTree" class="VIS-nm-menu-links mt-3 d-flex vis-navContentWrap">
                        @Html.Raw(@ViewBag.TreeHtml)
                    </div>
                </div>


                //Old Menu Start

                @*<div id="vis_mainMenu" class="d-flex flex-column vis-navMainWrap" style="display: none !important">
                        <div class="d-flex align-items-center vis-navHeadWrap" style="display: none">
                            <h5 class="m-0 vis-menu-headerName">@ViewBag.Menu.GetRootNode().Text</h5>
                            <div class="d-flex align-items-center vis-navHeadRight">
                                <div class="vis-navSearchWrap">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="vis_menuSearch" name="vis_menuSearch" placeholder="@VAdvantage.Utility.Msg.GetMsg((string)ViewBag.culture, "Search")" list="vis_leafNodes">
                                        <datalist id="vis_leafNodes">
                                            @foreach (var item in ViewBag.Menu.GetLeafNodes())
                                            {
                                                <option data-action='@item.ActionIndicator' data-actionid="@item.ActionID" title='@item.ID' value='@item.Name'></option>
                                            }
                                        </datalist>
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="vis vis-search"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="vis-navFilterIco">
                                    <a href="javascript:void(0)" id="vis_filterMenu" title="@VAdvantage.Utility.Msg.GetMsg((string)ViewBag.culture, "Filter")" class="fa fa-filter"></a>
                                    <span style="display:none" class="vis vis-cross vis-removeFilter"></span>
                                </div>
                            </div>
                        </div>

                        <div id="vis_divTree" class="d-flex vis-navContentWrap">
                            @Html.Raw(@ViewBag.TreeHtml)
                        </div>


                    </div>*@

                //Old Menu END

                @*<div id="vis_mainMenu" class="vis-mainMenu" style="display: none">
                        <div class="vis-menuTitle">
                            <p>@ViewBag.Menu.GetRootNode().Text</p>
                            <a href="javascript:void(0)" id="vis_closeMenu"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </div>
                        <div class="vis-menuSearch">
                            <input type="text" name="vis_menuSearch" dir="@ViewBag.direction" id="vis_menuSearch" placeholder="@VAdvantage.Utility.Msg.GetMsg((string)ViewBag.culture, "Search")" list="vis_leafNodes" />
                            <datalist id="vis_leafNodes">
                                @foreach (var item in ViewBag.Menu.GetLeafNodes())
                                {
                                    <option data-action='@item.ActionIndicator' data-actionid="@item.ActionID" title='@item.ID' value='@item.Name'></option>
                                }
                            </datalist>

                            <a href="javascript:void(0)" id="vis_filterMenu" title="@VAdvantage.Utility.Msg.GetMsg((string)ViewBag.culture, "Filter")" class="fa fa-filter"></a>
                            <a href="javascript:void(0)" class="fa fa-search"></a>
                        </div>
                        <div class="vis-sidebarMenuWrapper">
                            <div id="vis_divTree" class="vis-css-treeview vis-css-menu">
                                @Html.Raw(@ViewBag.TreeHtml)
                            </div>
                        </div>
                    </div>*@
            }
        }


        <div id="vis_menuOverlay" class="vis-app-overlay" style="display:none">
        </div> <!-- App Main Menu END -->
        <!-- App Main Section -->
        <section id="vis_mainSection" class="vis-app-section">

            @*action navigation*@
            <div class="vis-app-action-nav">
                <div class="vis-app-action-nav-inner">
                </div>
            </div>

            <!-- App Main Conatiner -->
            <div id="vis_mainConatiner" class="vis-app-section-main">
                <div id="vis_busyGrid" class="full-height-div busy" style="width:100%;text-align:center !important;align-content:center">
                    <img src="~/Areas/VIS/Images/onfinity-logo.png" />
                    <span>@VAdvantage.Utility.Msg.GetMsg((string)ViewBag.culture, "Loading")</span>
                </div>
                <!-- App Home Div -->
                <div class="vis-sub-container" id="vis_home" style="display: none">
                    @* <img height="400" src="~/Areas/VIS/Images/main_screen.png" />*@
                    <img src="~/Areas/VIS/Images/busy.gif" />@VAdvantage.Utility.Msg.GetMsg((string)ViewBag.culture, "Loading")..........
                </div>
                <div class="vis-sub-container" id="vis_home2" style="display: none;">
                </div>
            </div>
        </section>

        <footer class="vis-app-footer">
            @*taskbar div*@
            <div class="vis-app-footer-c">
                <div class="vis-app-footer-c-l">
                    <ul id="vis_taskbar" class="vis-app-f-taskbar vis-footer-ui-fix">
                        <li id="vis_lhome" class="vis-footer-home-fix" style="display: none;">
                            @*<img src="~/Areas/VIS/Images/base/icon-home.png" style="vertical-align: text-top;" />*@
                            <span class="vis vis-dashboard"></span>
                            <a>@VAdvantage.Utility.Msg.GetMsg((string)ViewBag.culture, "Home")</a>
                        </li>
                        <li id="vis_lhome2" style="display: none; position: absolute; left: 0;">
                            @*<img src="~/Areas/VIS/Images/base/icon-home.png" style="vertical-align: text-top;" />*@
                            <span class="vis vis-dashboard"></span>
                            <a>@VAdvantage.Utility.Msg.GetMsg((string)ViewBag.culture, "Home2")</a>
                        </li>

                    </ul>
                </div>
                <div class="vis-app-footer-c-r1">
                </div>
                <div class="vis-app-footer-c-r">
                </div>
            </div>
        </footer>
        <audio id="vis_buzzer" style="display: none">
            <source src="~/Areas/VIS/Content/notify.wav" type="audio/wav" />
        </audio>
    </div>
    @section scripts {

        @*Dynamic content js*@
        <script src="@Url.Action("Application", "Resource")"></script>
        @{

            foreach (string b in ViewBag.ScriptsPath)
            {
                if (b.Contains("ViennaBase") && b.Contains("_v") && !b.Contains("_v3"))
                {
                    continue;
                }
                //else if (b.Contains("VIS_") && !b.Contains(ViewBag.FrameSuffix))
                //{
                //    continue;
                //}
                //else
                //{
                @Scripts.Render(b); // Render all Script files
                  //}
            }
        }
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.MapAPI&libraries=marker"></script>
        <script src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
        <script src="~/Areas/ViennaBase/Scripts/globalize/globalize.js"></script>
        <script src="~/Areas/ViennaBase/Scripts/globalize/cultures/@String.Format("globalize.culture.{0}.js", ((String)ViewBag.culture).Replace("_", "-"))"></script>
        <script src="~/Areas/ViennaBase/Scripts/chart.min.js"></script>
        <script src="~/Areas/ViennaBase/Scripts/chartjs-plugin-datalabels.min.js"></script>
        <script>
            VIS.VApp.init(); //Initlize App ()
        </script>
    }
}
else //Login Page
{
    <div class="loginConatiner">
        <div id="loginPanel" class="loginform">
            @Html.Partial("_Login")
        </div>
        <div id="login2Panel" class="loginform">
            @Html.Partial("_Login2")
        </div>
        <div class="logindyn">
            <object style="width:100%;height:100%" data="@ViewBag.LoginPageUrl">
                <style>
                    .prefix-login-container {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        position: absolute;
                        background-image: url('../Areas/VIS/WebPages/login-form/images/form-bg.png');
                        background-size: cover;
                    }

                    .prefix-whitebox {
                        background-color: rgba(var(--v-c-on-primary), 0.8);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                    }



                    .prefix-form-group-col {
                        display: flex;
                        flex-direction: column;
                        gap: 0.875rem;
                    }

                    .prefix-form-col {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 1px solid rgba(var(--v-c-secondary), 1);
                        padding: 0 0 0.5rem;
                    }


                    .prefix-poweredby-col {
                        position: absolute;
                        right: 1.5rem;
                        bottom: 1.5rem;
                        display: flex;
                        flex-direction: column;
                        gap: 0.3rem;
                    }

                    .prefix-poweredbyTxt {
                        font-size: 0.875rem;
                    }
                </style>
                <div class="prefix-login-container">
                    <div class="prefix-whitebox">
                        <!--right pane-->
                        <div class="prefix-poweredby-col">
                            <div class="prefix-poweredbyTxt"></div>
                            <img src="Areas/VIS/WebPages/login-form/images/onfinity-logo.png" alt="">
                        </div>
                    </div>
                </div>
            </object>
        </div>
    </div>

    @section scripts {
        <script>
             var isStep2Validate = @Html.Raw(Json.Encode(TempData["isStep2Validate"]));
             var ModelData = @Html.Raw(Json.Encode(TempData["ModelData"]));
             if (isStep2Validate) {
                 $("#loginPanel").hide();
             }
        </script>

        <script type="text/javascript">  var contextUrl = '@Url.Content("~/")'  </script>
        <script src="~/Areas/ViennaBase/Scripts/globalize/globalize.js"></script>
        <script src="~/Areas/VIS/Scripts/app/ajaxlogin.js"></script>

    }
}
