@{
    ViewBag.Title = "Init";
}



<div class="contentArea" style="width: 100%; float: left; background-color: white">
    <div class="vis-email-leftDiv">
    </div>

    <div class="vis-Email-ContentWrap">
        <div class="vis-Email-ContentArea">
            <div class="vis-Email-leftWrap">
                <div class="vis-form-horizontal">
                    <div class="vis-Email-topinputWrap">
                        <a class="vis-Email-CcBcc">@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Cc") &amp; @VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Bcc")</a>

                        <div class="vis-form-data">
                            <input type="text" id="@(ViewBag.windowNo + "_emailToTop")" placeholder=@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "To")>
                        </div>

                        <div class="vis-form-data">
                            <input type="text" id="@(ViewBag.windowNo + "_eamilCcTop")" placeholder=@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Cc")>
                        </div>
                        <div class="vis-form-data">
                            <input type="text" id="@(ViewBag.windowNo + "_emailBccTop")" placeholder=@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Bcc")>
                        </div>
                    </div>
                    <!-- end of Email-topinputWrap -->

                    <div class="vis-Email-inputWrap" style="display: flex; margin: 0 -20px; width: calc(100% - -39px); padding: 3px 20px; background-color: rgba(var(--v-c-primary), .1); ">
                        <div class="vis-ai-mail-container">
                            <div class="vis-ai-mail-inner-card">
                                <div class="vis-form-data-sub-prompt">
                                    <div class="vis-ai-header-left-mail">
                                        <div class="vis-ai-header-icon-mail">
                                            <!-- Font Awesome Robot Icon -->
                                            @*<i class="fa fa-android"></i>*@
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="164.598" height="156" viewBox="0 0 164.598 156" class="vis-ai-botSvg">
                                                <defs>
                                                    <clipPath id="clip-path">
                                                        <path id="Path_144" data-name="Path 144" d="M419.665,169.306c-2.034,8.743,3.845,17.583,13.129,19.744s18.463-3.177,20.5-11.92-3.843-17.585-13.129-19.745S421.7,160.561,419.665,169.306Z" transform="translate(-419.263 -156.905)" fill="none"></path>
                                                    </clipPath>
                                                    <clipPath id="clip-path-2">
                                                        <ellipse id="Ellipse_2" data-name="Ellipse 2" cx="16.255" cy="17.262" rx="16.255" ry="17.262" transform="translate(7.367 39.489) rotate(-103.098)" fill="none"></ellipse>
                                                    </clipPath>
                                                </defs>
                                                <g id="robot" transform="translate(-11.854 0)">
                                                    <g id="Group_127" data-name="Group 127" transform="translate(11.854 0)">
                                                        <g id="Group_107" data-name="Group 107" transform="translate(0)">
                                                            <path id="Path_142" data-name="Path 142" d="M421.2,180.293a17.543,17.543,0,0,0,11.6,8.753,18.185,18.185,0,0,0,4.678.466A16.433,16.433,0,0,0,453.3,177.133c2.038-8.751-3.831-17.59-13.119-19.749s-18.472,3.177-20.509,11.93A15.462,15.462,0,0,0,421.2,180.293Z" transform="translate(-289.103 -101.261)"></path>
                                                            <g id="Group_99" data-name="Group 99" transform="translate(130.166 55.643)">
                                                                <g id="Group_98" data-name="Group 98" clip-path="url(#clip-path)">
                                                                    <g id="Group_97" data-name="Group 97" transform="translate(26.036 2.207)">
                                                                        <path id="Path_143" data-name="Path 143" d="M422.893,192.541a.431.431,0,0,0,.074-.856c-4.028-.7-6.037-8.574-4.474-17.549s6.1-15.7,10.141-15.007a.432.432,0,0,0,.146-.851c-4.578-.776-9.468,6.106-11.139,15.71s.6,17.751,5.177,18.549A.567.567,0,0,0,422.893,192.541Z" transform="translate(-417.094 -158.217)" fill="#2c2a2b"></path>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                            <path id="Path_145" data-name="Path 145" d="M428.9,177.535a17.543,17.543,0,0,0,11.6,8.753,18.185,18.185,0,0,0,4.678.466c-7.612-8.753-6.732-24.842-6.577-25.809Z" transform="translate(-296.802 -98.504)" fill="#2c2a2b"></path>
                                                            <path id="Path_146" data-name="Path 146" d="M495.074,177.133c1.831,7.907,9.53,13.033,17.868,12.327a17.63,17.63,0,0,0,2.625-.414,17.382,17.382,0,0,0,13.05-12.431,15.346,15.346,0,0,0,.088-7.3c-2.038-8.753-11.221-14.087-20.509-11.93S493.038,168.382,495.074,177.133Z" transform="translate(-491.385 -101.261)"></path>
                                                            <path id="Path_147" data-name="Path 147" d="M494.959,186.7a17.63,17.63,0,0,0,2.625-.414,17.382,17.382,0,0,0,13.05-12.431l-10.2-12.912C500.554,162.084,502.383,177.224,494.959,186.7Z" transform="translate(-473.402 -98.504)" fill="#2c2a2b"></path>
                                                            <g id="Group_102" data-name="Group 102" transform="translate(0 52.211)">
                                                                <g id="Group_101" data-name="Group 101" clip-path="url(#clip-path-2)">
                                                                    <g id="Group_100" data-name="Group 100" transform="translate(-0.367 5.638)">
                                                                        <path id="Path_148" data-name="Path 148" d="M516.393,192.541a.528.528,0,0,0,.074-.005c4.573-.8,6.848-8.945,5.176-18.549s-6.577-16.495-11.137-15.71a.433.433,0,0,0-.352.5.44.44,0,0,0,.5.352c4.028-.695,8.578,6.035,10.139,15.007s-.444,16.848-4.474,17.549a.431.431,0,0,0,.074.856Z" transform="translate(-510.147 -158.216)" fill="#2c2a2b"></path>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                            <path id="Path_149" data-name="Path 149" d="M457.38,221.921h68.578A18.9,18.9,0,0,0,544.6,206.145l7.572-45.2a15.7,15.7,0,0,0-15.483-18.293H446.653a15.7,15.7,0,0,0-15.485,18.293l7.573,45.2A18.9,18.9,0,0,0,457.38,221.921Z" transform="translate(-407.451 -110.989)"></path>
                                                            <g id="Group_103" data-name="Group 103" transform="translate(76.489 8.481)">
                                                                <path id="Path_150" data-name="Path 150" d="M474.039,158.408a1,1,0,0,0,.495-.133c1.343-.772,1.664-7.1,1.54-10.323-.215-5.49-1.743-15.258-9.572-18.98a1,1,0,0,0-.855,1.8c3.291,1.565,5.672,4.582,7.077,8.967,2.352,7.336,1.114,15.833.591,16.991a1,1,0,0,0,.725,1.679Zm-.5-1.859,0,0Z" transform="translate(-465.078 -128.875)"></path>
                                                            </g>
                                                            <path id="Path_151" data-name="Path 151" d="M469.838,126.746c-1.809,3.133-.118,7.494,3.779,9.744s8.519,1.533,10.328-1.6.116-7.5-3.779-9.746S471.645,123.613,469.838,126.746Z" transform="translate(-403.95 -123.835)"></path>
                                                            <g id="Group_104" data-name="Group 104" transform="translate(120.958 31.501)">
                                                                <path id="Path_152" data-name="Path 152" d="M438.566,222.418a.433.433,0,0,0,.427-.372l11.023-79a.431.431,0,1,0-.853-.119l-11.024,79a.431.431,0,0,0,.369.488A.336.336,0,0,0,438.566,222.418Z" transform="translate(-438.134 -142.557)" fill="#2c2a2b"></path>
                                                            </g>
                                                            <g id="Group_105" data-name="Group 105" transform="translate(36.132 31.501)">
                                                                <path id="Path_153" data-name="Path 153" d="M500,222.418a.364.364,0,0,0,.06,0,.431.431,0,0,0,.367-.488l-11.023-79a.432.432,0,1,0-.855.119l11.023,79A.432.432,0,0,0,500,222.418Z" transform="translate(-488.548 -142.557)" fill="#2c2a2b"></path>
                                                            </g>
                                                            <path id="Path_154" data-name="Path 154" d="M438.552,168.571c0,15.285,10.854,36.93,48.329,36.93,35.34,0,47.52-21.645,47.52-36.93s-22.437-18.419-47.52-18.419S438.552,153.288,438.552,168.571Z" transform="translate(-402.259 -105.871)" fill="#fff"></path>
                                                            <g id="Group_106" data-name="Group 106" transform="translate(46.439 57.827)">
                                                                <path id="Path_155" data-name="Path 155" d="M444.583,169.094a10.891,10.891,0,1,0,10.89-10.891A10.891,10.891,0,0,0,444.583,169.094Z" transform="translate(-390.809 -158.203)" fill="#2c2a2b"></path>
                                                                <path id="Path_156" data-name="Path 156" d="M476.541,169.094A10.891,10.891,0,1,0,487.432,158.2,10.891,10.891,0,0,0,476.541,169.094Z" transform="translate(-476.541 -158.203)" fill="#2c2a2b"></path>
                                                            </g>
                                                        </g>
                                                        <g id="Group_841" data-name="Group 841" transform="translate(43.439 112.697)">
                                                            <g id="Group_120" data-name="Group 120">
                                                                <path id="Path_170" data-name="Path 170" d="M453.961,255.509h58.016a9.727,9.727,0,0,0,9.591-8.095l3.912-22.984a9.728,9.728,0,0,0-9.589-11.361H450.047a9.728,9.728,0,0,0-9.589,11.361l3.912,22.984A9.727,9.727,0,0,0,453.961,255.509Z" transform="translate(-439.888 -212.638)"></path>
                                                                <path id="Path_171" data-name="Path 171" d="M454.135,256.116h58.016a10.133,10.133,0,0,0,10.015-8.457l3.914-22.984a10.158,10.158,0,0,0-10.017-11.862h-65.84a10.157,10.157,0,0,0-10.017,11.862l3.914,22.984A10.133,10.133,0,0,0,454.135,256.116Zm61.928-42.44a9.294,9.294,0,0,1,9.165,10.854l-3.912,22.986a9.273,9.273,0,0,1-9.165,7.735H454.135a9.27,9.27,0,0,1-9.163-7.735l-3.914-22.986a9.294,9.294,0,0,1,9.165-10.854Z" transform="translate(-440.062 -212.813)" fill="#fff"></path>
                                                            </g>
                                                            <g id="v-logo" transform="translate(28.149 8.996)">
                                                                <path id="Path_60" data-name="Path 60" d="M7.484,22.574l4.938.24,7.862,6.855S24.214,23.2,35.144,15.192l2.2-.144S25.94,26.409,20.427,40.359Z" transform="translate(-7.484 -15.048)" fill="#f9b31d"></path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <path id="Path_184" data-name="Path 184" d="M465.121,175.256a3.225,3.225,0,1,0,3.224-3.224A3.224,3.224,0,0,0,465.121,175.256Z" transform="translate(-372.279 -90.936)"></path>
                                                    <path id="Path_187" data-name="Path 187" d="M445.629,164.351a1.721,1.721,0,1,0,1.721-1.721A1.721,1.721,0,0,0,445.629,164.351Z" transform="translate(-316.983 -97.354)" fill="#fff"></path>
                                                    <path id="Path_188" data-name="Path 188" d="M478.631,164.351a1.721,1.721,0,1,0,1.721-1.721A1.721,1.721,0,0,0,478.631,164.351Z" transform="translate(-405.514 -97.354)" fill="#fff"></path>
                                                </g>
                                            </svg>
                                        </div>
                                        @*<span class="vis-ai-header-title-mail">AI Email Assistant - Aura</span>*@
                                    </div>
                                    <input type="text" id="@(ViewBag.windowNo + "_emailPrompt")" class="vis-ai-input-field-mail" placeholder="@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "VIS_EMailPromptMsg")">
                                    <div class="send-btn-wrapper" style="margin:3px 0; cursor: pointer;">
                                        <button id="@(ViewBag.windowNo + "_sendBtn")" class="vis-ai-generate-email-button" type="button">
                                            <i class="fa fa-magic"></i>
                                            <span>@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "VIS_Generate_Email")</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vis-Email-inputWrap">
                        <div class="vis-form-data-sub">
                            <input type="text" id="@(ViewBag.windowNo + "_emailSubject")" placeholder=@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Subject")>
                        </div>
                        @*<a class="vis-EmailIcon vis-EmailAttachment"></a>*@

                        <i id="@(ViewBag.windowNo + "_vis-email-attacImg")" class="vis vis-attachment1 vis-emailattchico"></i>

                        <div class="vis-email-attachmentContainer"></div>

                    </div>

                </div>
                <!-- end of form-horizontal -->


                @{if ((Session["ctx"] as VAdvantage.Utility.Ctx).GetIsRightToLeft())
                    {
                        <div class="k-rtl vis-Email-textarea-div" style="width: 100%; float: left;">
                            <textarea ondrop="return false;" id="@(ViewBag.windowNo + "_vis-Email-textarea")" style="width: 100%; height:100%;">
                
                </textarea>
                        </div>
                    }
                    else
                    {
                        <div class="vis-Email-textarea-div" style="width: 100%; float: left;">
                            <textarea ondrop="return false;" id="@(ViewBag.windowNo + "_vis-Email-textarea")" style="width: 100%; height:100%;">
                
                </textarea>
                        </div>
                    }


                }



                <div class="vis-Email-leftFooter">
                    <div>
                        <input id="@(ViewBag.windowNo + "_dyndis")" type="checkbox">
                        <label for="@(ViewBag.windowNo + "_dyndis")">@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "IsDynamicContent")</label>
                    </div>
                    <div>
                        <input id="@(ViewBag.windowNo + "_dynPF")" type="checkbox">
                        <label for="@(ViewBag.windowNo + "_dynPF")">@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "VIS_SendPFasAttachment")</label>
                    </div>
                    <div style="display:none">
                        <label for="@(ViewBag.windowNo + "_dynPFType")">@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "VIS_PFFileType")</label>
                        <select id="@(ViewBag.windowNo + "_dynPFType")" type="checkbox"></select>
                    </div>

                </div>


            </div>
            <!-- end of Email-leftWrap -->
            <div class="vis-Email-divider"></div>
            <div class="vis-Email-rytWrap">
                <div class="vis-Email-rytContent">
                    <div class="vis-Email-rytForm">
                        <div class="vis-form-rytData">
                            <div class="input-group vis-input-wrap">
                                <div class="vis-control-wrap">
                                    <input id="@(ViewBag.windowNo + "_emailTo")" type="text" name="to" data-placeholder="" placeholder=" ">
                                    <label for="to">@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "To")</label>
                                </div>
                            </div>
                        </div>

                        <div class="vis-form-rytData">
                            <div class="input-group vis-input-wrap">
                                <div class="vis-control-wrap">
                                    <input id="@(ViewBag.windowNo + "_eamilCc")" type="text" name="cc" data-placeholder="" placeholder=" ">
                                    <label for="cc">@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Cc")</label>
                                </div>
                            </div>
                        </div>

                        <div class="vis-form-rytData">
                            <div class="input-group vis-input-wrap">
                                <div class="vis-control-wrap">
                                    <input id="@(ViewBag.windowNo + "_emailBcc")" type="text" name="bcc" data-placeholder="" placeholder=" ">
                                    <label for="bcc">@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Bcc")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of Email-rytForm -->

                    <div class="vis-Email-rytBcc">
                        <div class="vis-email-rytBcc-header">
                            <h4 style="float: left">@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Bcc")</h4>
                            @*<img  id="@(ViewBag.windowNo + "_emailRefresh")"  style="cursor: pointer;float:right;margin-top:8px" title="@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Refresh")" src="~/Areas/vis/Images/Refresh24.png">*@
                            <!-- Refresh message from message window showing & symbol. Now we used CleanMnemonics to remove &.-->

                            <i id="@(ViewBag.windowNo + "_emailRefresh")" title="@VAdvantage.Utility.Util.CleanMnemonic(VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Refresh"))" class="vis vis-refresh"></i>
                        </div>
                        <div class="vis-Email-BccList">
                        </div>
                    </div>

                    <div class="vis-DMSAttachDoc">
                        <div>
                            <h4 class="vis-dmsdocumentheader" style="float: left"></h4>
                        </div>
                        <div class="vis-DMSAttachDocList">

                        </div>
                    </div>

                </div>
                <!-- end of Email-rytContent -->
            </div>
            <!-- end of Email-rytWrap -->

        </div>
        <!-- end of Email-ContentArea -->

    </div>
    <!-- end of Email-ContentWrap -->


</div>









@*<div class="vis-email-mainDiv">

        <div class="vis-email-leftDiv">
        </div>

        <div class="vis-email-middleDiv">

            <div>
                <span>@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "To") </span>
                <input class="vis-email-inputText" id="@(ViewBag.windowNo + "_emailTo")" type="text" />
            </div>
            <br />
            <div>
                <span>@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Cc") </span>
                <input class="vis-email-inputText"  id="@(ViewBag.windowNo + "_eamilCc")" type="text" />
            </div>
            <br />
            <div>
                <span>@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Bcc") </span>
                <input class="vis-email-inputText"  id="@(ViewBag.windowNo + "_emailBcc")" type="text" />
            </div>
            <br />
            <div>
                <span>@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Subject") </span>
                <input class="vis-email-inputText"  id="@(ViewBag.windowNo + "_emailSubject")" type="text" />
            </div>
            <br />
            <div>
                <span>@VAdvantage.Utility.Msg.GetMsg(ViewBag.language, "Attachment") </span>
                <input class="vis-email-inputText" type="text" />
            </div>
            <br />

            <input id="@(ViewBag.windowNo + "_dyndis")" type="checkbox" checked="checked" value="DynamicDisplay" />

        </div>

        <div class="vis-email-rightDiv">
        </div>

    </div>*@
